In [110]:
from math import *
import numpy as np
import pandas as pd

import candidate_provider as cp
import candidate_provider_2 as cp2

## Primeiro *Dataset*

In [80]:
candidates = ['bolsonaro', 'ciro', 'daciolo','boulos', 'haddad', 'marina']

In [81]:
dict_cand = {}
for cand in candidates:
    dict_cand[cand] = cp2.getCand(cand)

In [82]:
df_cand = pd.DataFrame(data=dict_cand)

In [83]:
df_cand

               bolsonaro      ciro   daciolo    boulos    haddad    marina
cultura         1.298674  0.577953  0.053222  1.929544  0.453759  0.163086
economia        2.101016  1.572047  0.286808  3.294471  1.045867  0.434171
educacao        2.217653  0.973766  0.513717  2.777466  0.665708  0.229158
meio ambiente   0.943479  0.467057  0.062666  1.666706  0.252479  0.100869
saude           2.067089  0.755462  0.368084  2.350678  0.404181  0.257830
seguranca       1.916048  0.962723  0.325294  2.757596  0.394746  0.163831
tecnologia      1.124516  0.702406  0.154583  2.078143  0.443712  0.200668

In [84]:
df_cand.bolsonaro

cultura          1.298674
economia         2.101016
educacao         2.217653
meio ambiente    0.943479
saude            2.067089
seguranca        1.916048
tecnologia       1.124516
Name: bolsonaro, dtype: float64

In [99]:
users = {}

In [100]:
users['Lucas'] = {'cultura': 2, 'economia': 5, 'educacao': 4,
                 'meio ambiente': 3, 'saude': 3, 'seguranca': 4, 'tecnologia': 5}

In [102]:
users

{'Lucas': {'cultura': 2,
  'economia': 5,
  'educacao': 4,
  'meio ambiente': 3,
  'saude': 3,
  'seguranca': 4,
  'tecnologia': 5}}

In [94]:
def minkowski(rating1, rating2, r = 1):
    distance = 0
    commonRatings = False
    for key in rating1:
        if key in rating2:
            distance += pow(abs(rating1[key] - rating2[key]), r)
            commonRatings = True
    if commonRatings:
        return pow(distance, 1/r)
    else:
        return 0

In [103]:
print(minkowski(dict_cand['bolsonaro'], users['Lucas']))

14.331524583182667

In [106]:
def recommend(userName, candidatos):
    """creates a sorted list of muics based on their distance to musicName"""
    distances = []
    for candidato in candidatos:
        distance = minkowski(candidatos[candidato], users[userName])
        distances.append((distance, candidato))
    # sort based on distance -- closest first
    distances.sort()
    return distances

In [108]:
print(recommend("Lucas", dict_cand))

[(9.14539660249778, 'boulos'), (14.331524583182667, 'bolsonaro'), (19.988585570821922, 'ciro'), (22.33954891486003, 'haddad'), (24.235626887469678, 'daciolo'), (24.450386238521997, 'marina')]

## Segundo *Dataset*

In [111]:
candidates = ['alckmin', 'alvaro', 'amoedo', 'bolsonaro', 'boulos', 'ciro', 'daciolo', 'haddad', 'marina', 'meirelles']

In [112]:
dict_cand_2 = {}
for cand in candidates:
    dict_cand_2[cand] = cp.count_words_from(cand)

In [113]:
df_cand_2 = pd.DataFrame(data=dict_cand_2)

In [114]:
df_cand_2

,alckmin,alvaro,amoedo,bolsonaro,boulos,ciro,daciolo,haddad,marina,meirelles
cultura,8,33,7,17,315,67,5,180,98,6
economia,30,55,56,128,823,376,53,534,273,40
educacao,11,9,35,47,297,155,74,195,83,20
meio ambiente,2,8,16,15,119,44,3,84,58,8
saude,6,9,13,28,165,59,40,76,62,17
seguranca,14,7,22,40,360,110,46,125,75,24
tecnologia,9,14,12,44,267,111,20,177,102,8